[Unit]
Description=Qdrant Vector Database
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f docker-qdrant
ExecStartPre=-/usr/bin/docker volume create docker_qdrant-data
ExecStartPre=/usr/bin/docker pull qdrant/qdrant
ExecStart=/usr/bin/docker run --name docker-qdrant --net=host -v docker_qdrant-data:/qdrant/storage qdrant/qdrant
ExecStop=/usr/bin/docker stop docker-qdrant
Restart=on-failure
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target