[Unit]
Description=A matrix bot that does amazing things!

[Service]
Type=simple
User=operatore
Group=operatore
WorkingDirectory=/opt/matrix-bob/
ExecStart=/opt/matrix-bob/.venv/bin
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target